<div id= "page wrapper">
  <div id= "profile_image">
    <%= image_tag "JackMa.jpg" %>
  </div>

  <div id= "content">
    <h1> Its Jack Ma </h1>
    <p> Ma was born in Hangzhou, Zhejiang Province, China. Ma started to study English at a young age
      and practiced English daily by conversing with English-speakers at Hangzhou hotel, a 40 minute bike
      ride from his home. He would give them tours around the city for free to improve his English.[9]
      He did this for nine years. He became pen pals with one of those foreigners, who nicknamed him
      "Jack" because he found it hard to pronounce his Chinese name.Later in his youth, Ma struggled
      to attend college. The Chinese entrance exams are held only once a year and it took Ma four
      years to pass. After that,[11] Ma attended Hangzhou Teacher's Institute
      (currently known as Hangzhou Normal University) and graduated in 1988 with a B.A. in English.
      While at school, Ma was head of the student council.[9][9] After graduation, he became a lecturer
      of English and International Trade at Hangzhou Dianzi University. He later enrolled at Beijing-based
       Cheung Kong Graduate School of Business (CKGSB) and graduated in 2006. </p>

     </div>
   </div>
